
html,
body {
  padding: 5px;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
  background-color: black;
}
form{
  padding-top:25px
}
form input{
  border:none;
  border-radius: 5px;
  width:76%;
  padding:3px;
}

form #submit{
  width:90px;
  background-color:#E3201A;
  border-radius: 3px;
  border:none;
  font-weight: 800;
  color:#1f1f1f;
}
.Titleimg{
  margin-bottom:15px;
  max-width: 1350px;
  max-height: 915px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.background {
    position:absolute;
    top:50%;
    margin-top:-400px; /* half of height */
    height: 16px;
}
.backgroundThanks{
  position:absolute;
  top:50%;
  margin-top:-173px; /* half of height */
  height: 16px;
  max-width: 375px;
}
.thanktit{
  padding-left:15px;
  padding-right:15px;
}
.background{
  max-width: 1350px;
}
.ContentDiv{
  padding-top:55px;
}
form #OPTin{
  margin:0;
  padding:0;
  width:10px;
  display: inline;
}
.formdisclaim{
  overflow: hidden; 
}